{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="item">
        <div class="accountContainer">
            <div class="container">
                <div class="item">
                    <div class="accountContainer">
                        <h1>{% trans "Account Inactive" %}</h1>

                        <p>{% trans "This account is inactive." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}